*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



 form {
  width: 400px;
  padding: 2em;
  color: #fff;
  background-color: rgba(9, 10, 9, 0.774);
  
  max-height: 100vh;   
  overflow-y: auto;   
  width: 30%;
} 

hr{
    margin-bottom: 2em;
    padding: .2em;
    color: #fff;
    color: black;
}

